#about-us {
  padding: 2rem; /* Padding for small screens */
  background-color: white; /* Background color */
}

#about-us h1 {
  /* font-size: 3.5rem; Font size for the title */
  text-align: center; /* Center align */
  font-weight: bold; /* Bold font */
  color: #4A5568; /* Dark gray color */
  margin-bottom: 1rem; /* Space below title */
}

.about-us-content {
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Column layout for small screens */
  align-items: center; /* Center align items */
  /* font-size: large; */
}

.about-us-image {
  margin-right: 2rem; /* Space to the right of the image */
  margin-bottom: 0; /* No margin below */
  margin-left: 2rem;
  width: 40%; /* Set the image width to 50% of its container */
  /* Alternatively, use a fixed width like: width: 200px; */
  height: auto; /* Maintain the aspect ratio */
  /* border-radius: 25px; */
}

@media (min-width: 768px) {
  .about-us-content {
    flex-direction: row; /* Row layout for medium screens and above */
    align-items: flex-start; /* Align items at the start */
  }

  

  .about-us-text {
    width: 50%; /* Width for text container */
    margin-left: 1.5rem; /* Space to the left of the text */
    margin-top: 1rem;
    text-align: justify; 
  }
}

.about-us-text p {
  color: #4A5568; /* Gray color for text */
  margin-bottom: 1rem; /* Space between paragraphs */
  text-align: justify; 
}
